certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
idna==2.10
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
pony==0.7.14
PyMySQL==1.0.2
requests==2.25.1
six==1.16.0
urllib3==1.26.4
vk-api==11.9.3
Werkzeug==2.0.0
